# Build results
bin/
obj/
Debug/
Release/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs and temporary files
*.log
*.tmp
*.bak

# NuGet packages
*.nupkg
packages/
*.snupkg

# Visual Studio Code
.vscode/

# Test results
TestResults/